body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 150px;
  /* margin-bottom: 20px; */
}

h1,
h2 {
  color: #333;
}

.page {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; /* Increased for better dashboard layout */
}

form {
  display: flex;
  flex-direction: column;
}

input,
select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#error-message {
  color: red;
  margin-bottom: 10px;
}

#userlist div,
#tasklist div {
  margin-bottom: 5px;
}

.user-card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.user-card img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#assign-task form {
  display: flex;
  flex-direction: column;
}

#assign-task select,
#assign-task input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#assigned-tasks div {
  margin-bottom: 10px;
}
